body {
  text-align: center;
  background-image: url("https://c6.staticflickr.com/5/4117/4876598677_fc3b268bc9_b.jpg");
}

h1 {
 font-family: fantasy;
 font-color: green;
 font-size: 32px;
 }

h3 {
 font-family: helvetica;
 font-size: 18px;
 }

h2 {
font-weight: bolder;
color: green;
}


h4 {
font-weight: bolder;
color: red;
font-size: 20px;

}


td {
  border: 5px blue solid;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
}

table {
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 0;
}

.miss {
  background: blue;
}

.hit {
  background-image: url("http://55bets.net/images/explosion-147909_640.png");
  background-size:contain;
}
