body {
  text-align: center;
  background-image:  url("http://www.netanimations.net/water_waves_ocean_ripple_high_quality_animated_gif.gif");

}




h1 {
 padding-top: 10px;
 font-family: fantasy;
 color: white;
 background-color: #005f95;
 font-size: 32px;
 }

h3 {
 padding: inherit;
 font-family: fantasy;
 background-color: #005f95;
 color: white;
 font-weight: bolder;
 font-size: 20px;

 }

h2 {
font-weight: bolder;
color: green;
}


h4 {
padding: inherit;
font-family: fantasy;
background-color: #005f95;
font-weight: bolder;
color: white;
font-size: 20px;
}


td {
  border: 5px #005f95 solid;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
}

table {
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 0;
}

.miss {
  background: #005f95;
}

.hit {
  background-image: url("http://55bets.net/images/explosion-147909_640.png");
  background-size:contain;
}
